div{
    background-color: red;
    position: absolute;
    left: 44%;
    top: 38%;
    border-radius: 30px;
    padding: 13px;
}
input{
    border-radius: 10px;
}
button{
    border-radius: 10px;
}
select {
    width: 100px;
}