form{
    background-color: red;
    position: absolute;
    left: 44%;
    top: 38%;
    border-radius: 30px;
    padding: 13px;
}
input{
    border-radius: 10px;
}
button{
    border-radius: 10px;
}
select {
    width: 100px;
}
.textdiv{
    margin-top: 30%;
    margin-right: 2%;
    text-align: center;
}
h1{
    margin-left: 3%;
}
p{
    margin-left: 3%;
}